<div class="container">
  <div class="row">
    <div class="col-md-5 jumbotron employee-blocks">StuffLorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
    <div class="col-md-5 jumbotron employee-blocks">Stuff Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
  </div>
</div>
