<div class="container">
  <div class="row">
  <% if @pending_audit_confirmations.count > 0 %>
    <div class="pending-homepage employee-blocks">
      <h3>pending confirmation</h3>
      <%= render partial: 'pending_audit_confirmations', locals: { pending_audit_confirmations: @pending_audit_confirmations } %>
  </div>
  <% end %>
  <div class="pending-homepage employee-blocks">
    <%= link_to "Request Overtime Approval", new_post_path, class: 'btn btn-primary btn-block btn-lg' %>
  </div>
</div>
